<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="thunderstorm-outline"></ion-icon>
      <ion-label>Clima</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clothing">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Ropa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="logo-euro"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Divisa">
      <ion-icon name="logo-bitcoin"></ion-icon>
      <ion-label>Divisa</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
